<div class="container border mt-3 p-3">
    <form #userInfoForm = "ngForm" (ngSubmit)="save(userInfoForm)">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="id1" class="form-label">First Name</label>
                <input type="text" class="form-control" id="id1" name="fName" [(ngModel)]="userForm.firstName">
            </div>
            <div class="col-md-4">
                <label for="id2" class="form-label">Last Name</label>
                <input type="text" class="form-control" name="lName" id="id2" [(ngModel)]="userForm.lastName">
            </div>
            <div class="col-md-4">
                <label for="id3" class="form-label">Mobile No</label>
                <input type="text" class="form-control" id="id3" name="mobileNo" [(ngModel)]="userForm.mobileNo">
            </div>
            <div class="col-md-4">
                <label for="id4" class="form-label">Email Address</label>
                <input type="text" class="form-control" id="id4" name="email" [(ngModel)]="userForm.email">
            </div>
        </div>
        <button type="submit" class="btn btn-info m-2">Submit</button>
    </form>
</div>

